
/* 
    Created on : Sep 5, 2015, 5:31:42 PM
    Author     : Shea
*/

body, html{
    margin: 0;
    height: 100%;
    background: linear-gradient(lightgrey, white) no-repeat;
}

#info{
    margin: 0 auto;
    min-height: 75px;
    height: 10%;
    width: 900px;
    background: blue;
}

#content{
    margin: 0 auto 0 auto;
    min-height: 90%;
    width: 900px;
    background: linear-gradient(black, #00CC00);
}
    
.text{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: georgia;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

.addressBox{
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    width: 450px;
}

#addressBoxList{
    list-style-type: none;
    padding-left: 0;
}

#routeButton{
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    width: 450px;
    color: white;
    background-color: blue;
    border-color: darkblue;
}

#routeButton:hover{
    background-color: navy;
}

#routeButton:focus{
    background-color: steelblue;
    border-color: blue;
}


#heading{
    font-size: 40px;
    margin: 0;
}

#message1{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin: 0;
}

#message2{
    position: absolute;
    text-shadow: none;
    font-size: 12px;
    bottom: 0px;
}

#GoogleMap{
    width: 900px;
    height: 400px;
}

#valueHolder{
    font-size: 0;
}
