/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 5, 2015, 5:31:42 PM
    Author     : Shea
*/

body, html{
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    background: -webkit-linear-gradient(lightgrey, white);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightgrey, white);/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightgrey, white);/* For Firefox 3.6 to 15 */
    background: linear-gradient(lightgrey, white);/* Standard syntax */
}

#info{
    margin: 0 auto;
    height: 80px;
    width: 900px;
    background: blue;
}

#content{
    margin: 0 auto 0 auto;
    height: 100%;
    width: 900px;
    background: -webkit-linear-gradient(black, #00CC00);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #00CC00);/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #00CC00);/* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #00CC00);/* Standard syntax */
    overflow: hidden;
}
    
.text{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: georgia;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

.addressBox{
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    width: 450px;
}

#addressBoxList{
    list-style-type: none;
    padding-left: 0;
}

#routeButton{
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    width: 450px;
    color: white;
    background-color: blue;
    border-color: darkblue;
}

#routeButton:focus{
    background-color: steelblue;
    border-color: blue;
    clear: both;
}

#heading{
    font-size: 40px;
    margin: 0;
}

#message1{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin: 0;
}

#message2{
    position: absolute;
    text-shadow: none;
    font-size: 12px;
    bottom: 0px;
}

#googleMap{
    width: 900px;
    height: 400px;
}
