/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 5, 2015, 5:31:42 PM
    Author     : Shea
*/

body, html{
    margin: auto;
    display: table;
    min-height: 100%;
    height: 100%;
    background-color: lightgray;
}

#outter{
        min-height: 100%;
        height: 100%;
        width: 900px;
        background-color: #00CC00;
        display: table-cell;
}
    
.text{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: georgia;
    color: white;
    text-align: center;
    text-shadow: 2px 2px darkgray;
}

.addressBox{
    margin: auto;
    margin-top: 30px;
    display: block;
    width: 450px; 
}

#routeButton{
    margin: auto;
    margin-top: 30px;
    width: 400px;
    color: white;
    background-color: blue;
    border-color: darkblue;
    display: block;
}

#routeButton:focus{
    background-color: steelblue;
    border-color: blue;
}

#heading{
    font-size: 40px;
}

#message1{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#message2{
    text-align: left;
    text-shadow: none;
    font-size: 12px;
    position: absolute;
    bottom: 0;
}

#googleMap{
    width: 600px;
    height: 400px;
    display: block;
    margin: auto;
}


